

.calendar-popup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  height: 229px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.calendar-content {
  height: calc(100% - 30px);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days-grid, .months-grid, .years-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.months-grid {
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.years-grid {
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.arrow, .calendar-title {
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

  .arrow:hover, .calendar-title:hover {
    background: #eee;
  }


.day-cell, .month-cell, .year-cell {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  align-content: space-evenly;
}

  .day-cell:hover, .month-cell:hover, .year-cell:hover {
    background: #eee;
  }

.faded {
  color: #999;
}

.current {
  color: blue;
}

.selected {
  background: #90EE90;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

.day-header {
  font-weight: bold;
}

.error {
  border-color: red;
}
