:root {
    --bg: #d0d2d4;
    --fg: #000;
    --sb-face: #2699fb;
    --sb-base: #2699fb;
    --sb-3dlight: #2699fb;
    --sb-highlight: #2699fb;
    --sb-track: #FFF;
    --sb-arrow: #FFF;
    --sb-shadow: #2699fb;
    --wk-sb-w: 15px;
    --wk-sb-h: 15px;
    --wk-button: #2699fb;
    --wk-track: #b5e8ff;
    --wk-track-piece: #FFF;
    --wk-thumb: 50px;
    --wk-thumb-color: #82c6ff;
    --wk-corner: #2699fb;
    --wk-resizer: #2699fb;
    --body-margin: 0;
    --body-mh: 700px;
    --body-mw: 1400px;
    --ip-border: 2px solid #007bff;
    --ip-padding: 5px 0px 5px 5px;
    --ip-height: 23px;
    --bg-hv-XLookupButton: #ebebeb;
    --bg-XButtonIcon: #007bff;
    --bg-XLookupButton: lightgray;
}

html {
    min-height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    margin: 0px;
    border: none;
    background-color: var(--bg);
}

body {
    display: block;
    margin: var(--body-margin);
    min-height: var(--body-mh);
    min-width: var(--body-mw);
}

html {
    scrollbar-face-color: var(--sb-face);
    scrollbar-base-color: var(--sb-base);
    scrollbar-3dlight-color: var(--sb-3dlight);
    scrollbar-highlight-color: var(--sb-highlight);
    scrollbar-track-color: var(--sb-track);
    scrollbar-arrow-color: var(--sb-arrow);
    scrollbar-shadow-color: var(--sb-shadow);
}

::-webkit-scrollbar {
    width: var(--webkit-sb-w);
    height: var(--webkit-sb-h);
}

::-webkit-scrollbar-button {
    background-color: var(--wk-button);
}

::-webkit-scrollbar-track {
    background-color: var(--wk-track);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--wk-track-piece);
}

::-webkit-scrollbar-thumb {
    height: var(--wk-thumb);
    background-color: var(--wk-thumb-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--wk-corner);
}

::-webkit-resizer {
    background-color: var(--wk-resizer);
}

.InputContainer {
    position: absolute;
    display: inline-block;
}

.MainDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

.XBaseInput {
    padding: var(--ip-padding);
    width: 300px;
    height: var(--ip-height);
    border: var(--ip-border);
    border-radius: 5px;
}

.XBaseButtonInput {
    @extend .XBaseInput;
}

.XLookupButton {
    position: absolute;
    right: 3px;
    top: 3PX;
    bottom: 3px;
    width: 35px;
    background-color: var(--bg-XLookupButton);
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-align: center;
    align-content: space-around;

    &:hover {
        background-color: var(--bg-hv-XLookupButton);
    }
}

.XButtonIcon {
    position: absolute;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    width: 20px;
    height: 20px;
    left: 8px;
    top: 8px;
    background-color: var(--bg-XButtonIcon);
}
