
:root {
    --bg: #d0d2d4;
    --fg: #000;
    --sb-face: #2699fb;
    --sb-base: #2699fb;
    --sb-3dlight: #2699fb;
    --sb-highlight: #2699fb;
    --sb-track: #FFF;
    --sb-arrow: #FFF;
    --sb-shadow: #2699fb;
    --wk-sb-w: 15px;
    --wk-sb-h: 15px;
    --wk-button: #2699fb;
    --wk-track: #b5e8ff;
    --wk-track-piece: #FFF;
    --wk-thumb: 50px;
    --wk-thumb-color: #82c6ff;
    --wk-corner: #2699fb;
    --wk-resizer: #2699fb;
    --body-margin: 0;
    --body-mh: 700px;
    --body-mw: 1400px;
    --ip-border: 2px solid;
    --ip-border-color-err: #fe4e00ff;
    --ip-padding: 5px 4px 5px 5px;
    --ip-height: 23px;
    --bg-hv-XLookupButton: #1eacff43;
    --bg-XButtonIcon: #007bff;
    --bg-XLookupButton: lightgray;
}
