.XDataGrid {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.XDataGrid:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.drag-over {
    border-left: 3px solid #2196F3 !important;
    border-right: 3px solid #2196F3 !important;
}

.resizer {
    cursor: col-resize;
    width: 5px;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background: #ccc;
    z-index: 1;
}

table {
    border-collapse: collapse;
    background: white;
}

thead {
    position: sticky;
    top: 0px;
    z-index: 2;
}

th, td {
    padding: 8px;
    text-align: left;
    position: relative;
    //min-width: 100px;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    user-select: none;
    padding: 10px 0px 13px 5px;
    position: relative;
}

th.dragging {
    cursor: grabbing;
    opacity: 0.8;
}

th:active {
    cursor: grabbing;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    border-right: 1px solid #7c4141;
}

.resizer:hover {
    background-color: #abc;
}

.menu-button {
    position: absolute;
    right: 19px;
    top: 25px;
    padding: 5px;
    z-index: 20;
}

.column-menu {
    position: absolute;
    right: 19px;
    top: 57px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 100;
}

.column-menu label {
    display: block;
    margin: 5px 0;
}
