.XContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}
.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.drag-over {
    border-left: 3px solid #2196F3 !important;
    border-right: 3px solid #2196F3 !important;
}

.resizer {
    pointer-events: auto; /* Permite eventos de drag passar pelo redimensionador */
}

table {
    border-collapse: collapse;
    background: white;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

th, td {
    //border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    position: relative;
    min-width: 100px;
    white-space:nowrap;
}

th {
    background-color: #f2f2f2;
    user-select: none;
    top: -5px;
    padding: 10px 0px 13px 5px;
    cursor: grab;
    position: relative;
}
th:active {
    cursor: grabbing;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #ccc;
    cursor: col-resize;
}

.menu-button {
    position: absolute;
    right: 19px;
    top: 25px;
    padding: 5px;
    z-index: 20;
}

.column-menu {
    position: absolute;
    right: 19px;
    top: 57px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 100;
}

.column-menu label {
    display: block;
    margin: 5px 0;
}
