.XDataGrid {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.XDataGrid:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.ldrag-over {
    border-left: 3px solid #2196F3 !important;
}

.rdrag-over {
    border-right: 3px solid #2196F3 !important;
}



.XTable {
    position: absolute;
    border-collapse: collapse;
    top: 42px;
    width: 100%;
    bottom: 0;
    overflow: auto;
}

.XTableHeader {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.XTableHContent {
    background-color: #abc;
    display: inline-block;
    white-space: nowrap;
    height: 42px;
    min-width: 100%;
}

.XTableCellContent {
    display: inline-block;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
}


.XTableCellTitle {
    display: flex;
    align-items: center;
    white-space: nowrap;
    pointer-events: none;
    padding: 0px 5px 0 5px;
    height: 100%;
}

.XTableHTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 42px;
    pointer-events: none;
    padding: 0px 4px 0 5px;
}

.XTh {
    padding: 8px;
    text-align: left;
    position: relative;
    //min-width: 100px;
    white-space: nowrap;
}

.XTd {
    padding: 0px;
    text-align: left;
    position: relative;
    height: 40px;
    white-space: nowrap;
}

.XTableRow {
    background-color: white;
}
.XTableRow:hover {
    background-color: #ffcf4922;
}

.XTableRowEven {
    background-color: aliceblue;
}
.XTableRowEven:hover {
    background-color: #ffcf4922;
}

.XTh {
    background-color: #f2f2f2;
    user-select: none;
    padding: 0;
    position: relative;
}

.XTh.dragging {
    cursor: grabbing;
    opacity: 0.8;
}

.XTh:Active {
    cursor: grabbing;
}

.XTableResizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    border-right: 1px solid #7c4141;
    z-index: 10;
}

.XTableResizer:hover {
    background-color: #7a723dbe;
}

.menu-button {
    position: absolute;
    right: 19px;
    top: 25px;
    padding: 5px;
    z-index: 20;
}

.column-menu {
    position: absolute;
    right: 19px;
    top: 57px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 100;
}

.column-menu label {
    display: block;
    margin: 5px 0;
}
